<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/web/static/css/main.css">
</head>
<body>

<main class="content-grid">
	<section class="loop-header">
		<div>
			<h1>Song Loop</h1>
			<p>Loop your favorite section of any track on Spotify</p>
		</div>
		<div id="status" class="status {{ .Status }}">
			<a href="/">
				<svg>
					<use href="/web/static/icons/icons.svg#restart-alt"></use>
				</svg>
			</a>
			<span id="status-description">{{ .StatusDescription }}</span>
		</div>
	</section>

	{{ if .Playback }}
		<section class="dashboard track-view margin-top-4">
			<img
				src="{{ (index .Playback.Item.Album.Images 0).URL }}"
				alt="{{ .Playback.Item.Album.Name }}"
			/>
			<div class="dashboard--info">
				<div>
					<h2>{{ .Playback.Item.Name }}</h2>
					<ul class="artists">
						{{ range .Playback.Item.Artists }}
							<li>{{ .Name }}</li>
						{{ end }}
					</ul>
				</div>

				<form id="loop-form">
					<div class="time-range">
						<span class="fs-s" id="start-display">00:05</span>
						<div class="slider">
							<span class="track"></span>
							<span class="track-highlight"></span>
							<input id="start-slider" type="range" name="start" value="{{ div .Playback.Item.DurationMS 10000 }}" min="0" max="{{ div .Playback.Item.DurationMS 1000 }}" step="1" />
							<input id="end-slider" type="range" name="end" value="{{ div .Playback.Item.DurationMS 2000 }}" min="0" max="{{ div .Playback.Item.DurationMS 1000 }}" step="1" />
						</div>
						<span class="fs-s" id="end-display">00:30</span>
					</div>

					<div class="flex-row-1">
						<button type="submit">Start loop</button>
						<button id="stop-loop-btn" type="button">Stop loop</button>
					</div>
				</form>
			</div>
		</section>
	{{ else }}
		<section class="dashboard flow-1 margin-top-4">
			{{ if eq .Status "unauthorized"}}
				{{ if ne .StatusMessage "" }}
					<p>{{ .StatusMessage }}</p>
				{{ end }}
				<button id="connect-spotify">Connect to Spotify</button>
			{{ end }}

			{{ if eq .Status "idle" }}
				<p>To view the dashboard, start playing a Spotify song on any of your devices and refresh the page.</p>
			{{ end }}
		</section>
	{{ end }}

	<div id="form-status"></div>
</main>

<script src="/web/static/js/loop.js"></script>
<script src="/web/static/js/connect.js"></script>

</body>
</html>
