@layer reset, base, layout, components, utilities, pages;

@import "/web/static/css/reset.css" layer(reset);
@import "/web/static/css/fonts.css" layer(base);

@layer base {
	:root {
		--font: "Switzer";

		--font-size-base: 1rem;
		--font-size-s: 0.9rem;

		--color-site-background: rgb(245, 245, 245);
		--color-dashboard: #fff;

		--color-text-100: hsl(0, 0%, 10%);
	    --color-text-20: hsl(0, 0%, 85%);
	    --color-text-10: hsl(0, 0%, 93%);

	    --color-blue: hsl(210, 79%, 46%);
		--color-red: hsl(0, 65%, 51%);
		--color-purple: hsl(282, 68%, 38%);
		--color-green: hsl(123, 43%, 39%);
	}

	body {
		font-family: var(--font), sans-serif;

		background-color: var(--color-site-background);
	}

	main {
		margin-block: 4rem;
	}

	button {
		background-color: var(--color-text-10);
		border: none;
		border-radius: 8px;
		padding: 10px 12px;
		cursor: pointer;

		&:hover {
			background-color: var(--color-text-20);
		}
	}
}

@layer layout {
	@layer content-grid {
        .content-grid {
            --padding-inline: 1.5rem;
            --content-max-width: 1200px;

            container: content-grid / inline-size;

            display: grid;
            grid-template-columns:
                [full-width-start] minmax(var(--padding-inline), 1fr)
                [content-start] min(
                    100% - (var(--padding-inline) * 2),
                    var(--content-max-width)
                ) [content-end]
                minmax(var(--padding-inline), 1fr) [full-width-end];
            /*row-gap: 8rem;*/
        }

        .content-grid > :not(.full-width),
        .full-width > :not(.full-width) {
            grid-column: content;
        }

        .content-grid > .full-width {
            grid-column: full-width;

            display: grid;
            grid-template-columns: inherit;
        }
    }
}

@layer utilities {
	.hidden {
		display: none;
	}

	.fs-s {
		font-size: var(--font-size-s);
	}

	.flow-1 * + * {
	    margin-top: 1rem;
	}

	.flex-row-1 {
	    display: flex;
	    align-items: center;
	    gap: 1rem;
	}

	.margin-top-4 {
		margin-top: 4rem;
	}

	.max-width-40 {
		max-width: 40ch;
	}
}

@layer components {
	@layer form {
		#loop-form {
			display: grid;
			gap: 1rem;

			button {
				width: 100%;
			}
		}

		.time-range {
			display: grid;
			align-items: center;
			grid-template-columns: auto 1fr auto;
			gap: 2ch;
		}

		#form-status {
			display: block;

			width: 100%;
			margin-top: 1rem;

			padding: 2rem;

			border-radius: 8px;

			color: var(--color-red);
			background: var(--color-dashboard);
		}
	}

	@layer slider {
		.slider {
			display: grid;
			align-items: center;

			> * {
				grid-area: 1 / -1;
			}

			input {
				-webkit-appearance: none;
				appearance: none;

				pointer-events: none;

				margin-inline: -11px;

				background: transparent;
				border: none;

				z-index: 1;
			}

			input::-webkit-slider-thumb {
				--_color-thumb-band: var(--color-blue);
				--_color-thumb-bg: hsl(from var(--color-text-100) h s l / 0.2);

				-webkit-appearance: none;
				appearance: none;

				pointer-events: auto;

				height: 40px;
				width: 22px;

				background: linear-gradient(
					to right,
					var(--_color-thumb-bg) 0%,
					var(--_color-thumb-bg) 45%,
					var(--_color-thumb-band) 45%,
					var(--_color-thumb-band) 55%,
					var(--_color-thumb-bg) 55%,
					var(--_color-thumb-bg) 100%);
			}

			input[id="start-slider"]::-webkit-slider-thumb {
				anchor-name: --start-thumb;
			}

			input[id="end-slider"]::-webkit-slider-thumb {
				anchor-name: --end-thumb;
			}

			.track {
				anchor-name: --track;

				height: 10px;
				border-radius: 8px;

				background-color: var(--color-text-10);
			}

			.track-highlight {
				position: absolute;

				top: anchor(--track top);
				bottom: anchor(--track bottom);
				left: anchor(--start-thumb center);
				right: anchor(--end-thumb center);

				border-radius: inherit;

				background-color: var(--color-blue);
			}
		}
	}
}

@layer pages {
	@layer index {
		.loop-header {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			gap: 2rem;

			padding-bottom: 1rem;
			border-bottom: 1px solid var(--color-text-10);
		}

		.status {
			display: flex;
			align-items: center;
			gap: 1ch;

			padding: 0.75rem 1rem;
			border-radius: 8px;

			color: var(--_color-status, #000);
			background-color: var(--color-dashboard);

			&.unauthorized, &.failed {
				--_color-status: var(--color-red);
			}

			&.idle {
				--_color-status: var(--color-blue);
			}

			&.playing {
				--_color-status: var(--color-purple);
			}

			&.looping {
				--_color-status: var(--color-green);
			}

			a {
				display: grid;
				place-content: center;
			}

			svg {
				width: 24px;
				height: 24px;

				fill: var(--_color-status, hsl(0, 0%, 0%));

				&:hover {
					fill: hsl(from var(--_color-status) h s l / 0.80);
				}
			}
		}

		.dashboard {
			padding: 2rem;

			border-radius: 8px;

			background-color: var(--color-dashboard);
		}

		.dashboard.track-view {
			display: grid;
			gap: 2rem;

			@container content-grid (inline-size > 800px) {
				grid-template-columns: 300px 1fr;
			}
		}

		.dashboard--info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4rem;
		}

		.artists {
			li {
				display: inline;
			}

			li:not(:last-child)::after {
			  content: ", ";
			}
		}
	}
}
