@layer reset, base;

@import "reset.css" layer(reset);

@layer base {
	:root {
		--font-size-base: 1rem;
	}
}


form {
	display: grid;
	gap: 2rem;

	width: min(400px, 100%);

	border: 1px solid lightgray;
}

.form-group {
	display: grid;
	grid-auto-rows: min-content;
	gap: 0.25rem;
}
