/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

body, h1, h2, h3, h4, h5, h6, p, a, ul, ol {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label, summary, select {
    line-height: 1.3;
}

/* Balance text wrapping on headings */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p, li, figcaption {
    text-wrap: pretty;
    /*max-width: 65ch;*/
}

header, footer, main, section, article {
    container-type: inline-size;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
    font-family: inherit;
}

/* Make images easier to work with */
img,
picture {
    /* If image doesn't load, alt text will render instead. */
    font-style: italic;

    max-inline-size: 100%;
    vertical-align: middle;
    height: auto;

    /* Useful when pre-loading a low-res version of image as skeleton for the higher-res image */
    background-repeat: no-repeat;
    background-size: cover;

    shape-margin: 1rem;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}
